<ion-header>
  <ion-toolbar>
    <ion-title>Modificar {{ campo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{ campo }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-input type="text" [name]="campo" [placeholder]="campo" [value]="valor" #idCampo></ion-input>
  </ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="modificar(idCampo)" expand="block"  shape="round">
            Modificar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="danger" (click)="cerrarModal()" expand="block"  shape="round">
            Cancelar
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
