<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs-cliente/ubicaciones"></ion-back-button>
    </ion-buttons>
    <ion-title>Mensajes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirbuscar()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item *ngIf="abrirSearch">
    <ion-searchbar placeholder="Buscar" inputmode="text" type="text" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="focus"></ion-searchbar>
  </ion-item>

    <ng-container *ngFor="let ultimo of (chats)"  >
    
      <ion-item class="ion-padding-top" (click)="abrirMensaje( ultimo.to, ultimo.from )" *ngFor="let msm of (ultimo.mensajes | ultimoMensaje)"  detail>
        <ion-avatar slot="start">
          <img [src]="fotos |fotos" />
        </ion-avatar>
        <ion-label>
          <h2>{{ ultimo.nombreFrom }}</h2>
          <p>{{ msm.mensaje | slice:0:16}}...</p>
          <p>{{ msm.fecha | date }}</p>
        </ion-label>
        <ion-note>
          {{ msm.hora }}
        </ion-note>
      </ion-item>
    </ng-container>


  <ion-card *ngIf="chats.length === 0">
    <ion-card-header>
      <ion-img src="/assets/img/not-found.png"></ion-img>
    </ion-card-header>
    <ion-card-content>
      Lo sentimos no tienes mensajes disponibles.
    </ion-card-content>
  </ion-card>

  
  <ng-container *ngIf="chats.length === 0">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="nuevoMensaje()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
  
  
  

</ion-content>
