<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs-cliente/ubicaciones"></ion-back-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
    <ion-buttons slot="end">
      
      <!-- <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button> -->
      <ion-button (click)="guardarFavorito()">
        <ion-icon slot="icon-only" [name]="!_futbolService.favoritosBool ? 'heart-outline' :'heart'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide *ngFor="let foto of informacionData">
      <ion-card>
        <ion-img [src]="foto.foto | fotosProp"></ion-img>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-grid fixed *ngFor="let informacion of informacionData">
    <ion-row>
      <ion-col size="4"><ion-label>Descripción:</ion-label></ion-col>
      <ion-col size="8">{{ informacion.desc }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4"><ion-label>Local:</ion-label></ion-col>
      <ion-col size="8">{{ informacion.nomLocal }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4"><ion-label>Dirección:</ion-label></ion-col>
      <ion-col size="5">{{ informacion.ubicacion }}</ion-col>
      <ion-col size="3">
        <ion-button (click)="verUbicacion(informacion)">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4"><ion-label>Número </ion-label>de canchas:</ion-col>
      <ion-col size="8">{{ informacion.numCanchas }}</ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="4"><ion-label>Otros servicios:</ion-label></ion-col>
      <ion-col size="3">{{ informacion.otrosServicios.resp }}</ion-col>
      <ion-col size="5">
        <a *ngIf="informacion.otrosServicios.verificacion" (click)="verServicios( informacion.otrosServicios, $event)">ver servicios</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4"><ion-label>Num </ion-label>Telf:</ion-col>
      <ion-col size="8">
        <ion-row>
          <ion-col size="4"><ion-label>Celular</ion-label></ion-col>
          <ion-col size="8">{{ informacion.telf.celular }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Convencional</ion-col>
          <ion-col size="6">{{ informacion.telf.convencional }}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4"><ion-label>Horario </ion-label>de atención</ion-col>
      <ion-col size="8"><a (click)="horarioPopover( informacion.horarios , $event)">Ver horarios</a></ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="4"><ion-label>Precio</ion-label></ion-col>
      <ion-col size="8">USD {{ informacion.precio }}</ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="4"><ion-label>Redes</ion-label></ion-col>
      <ion-col size="8"><a (click)="verRedes( informacion.redes , $event)">Ver redes</a></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
