<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reestablecer contraseña </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Recupera tu cuenta</ion-label>
    </ion-item>
    <ion-item>
      <p>Ingrese su correo electrónico para reestablecer la contraseña.</p>
    </ion-item>
      <form [formGroup]="recuperarPass" (ngSubmit)="onSubmit(recuperarPass)">
        <ion-item>
          <ion-label position="floating">Correo <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-button block color="primary" type="submit" [disabled]="recuperarPass.invalid">
          Recuperar
        </ion-button>
      </form>
  </ion-list>

</ion-content>
